.blogs {
    max-width: 30%;
    margin-left: 6rem;
}

.blog-preview {
    border-bottom: 0.1px solid grey;
    margin-bottom: 2rem;
}

.blog-preview:hover {
    color: black;
    background-color: #FAFAFA;
}